/* The container should fill the entire window. */
body {
	margin: 0;
	padding: 0;
	background-color: black;
}

#page-slide-container {
	position: fixed;
	display: block;
	width: 100%;
}

#page-slide-container div.section {
	display:flex;
	background-color: transparent
}

div.section h1 {
	color: white;
}